// symantic CSS
@import url("//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css");

// padding on the outside of the entire render
.wrapper {
    padding: 16px;
}

// font settings for progress area
.progress {
    color: #009933;
    font-size: 20px;
    font-weight: bold;
    //float: "right";
}

// Copied from nr1 Radio
.radio-group {
    input[type="radio"] {
        background-color: #fafbfb;
        border-radius: 100%;
        border: 1px solid #b9bdbd;
        height: 16px;
        margin-left: 4px;
        margin-right: 8px;
        width: 16px;
    }

    input[type="radio"]:checked {
        background-color: #0079bf;
        border-color: #003555;
    }
}

// label for radio buttons
label {
    color: #000e0e;
    font-size: 14px;
    line-height: 16px;
    position: relative;
}

// radio button styles
.radio-option {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: bold;
}

// table settings
.tableHeader {
    font-size: 20px;
}

.tableContents {
    font-size: 16px;
}

.hostContents {
    color: #4183c4;
    cursor: pointer;
}

// search filter options
#accountNameInput {
    width: 100%;
    font-size: 16px;
    padding: 12px 12px 12px 12px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#serverNameInput {
    width: 100%;
    font-size: 16px;
    padding: 12px 12px 12px 12px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#mountPointNameInput {
    width: 100%;
    font-size: 16px;
    padding: 12px 12px 12px 12px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#utilSlider {
    max-width: 100%;
}

#utilLabel {
    font-size: 18px;
    display:block ;
    text-align:center;
    color: rgb(40, 37, 226);
}